<ul>
    <% users.forEach(user => { %>
        <li>
            <p><%= user.first_name %> </p>
            <p><%= user.family_name %> </p>
            <p><%= user.last_name %> </p>
        </li>
    <% }) %>
</ul>