<header>
  <h1 style="color:blue;">Error</h1>
</header>
<main>
  {{#if message}}
    <h3 class="alert alert-danger">{{message}}</h3>
  {{/if}}
</main>
<footer><a href="/api">Volver al inicio</a></footer>