html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Productos 
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        header
            h1(style='color:blue;') Lista de productos
        main
            if arrayProduct
                div.table-responsive
                    table.table.table-dark
                        tr(style='color: yellow;')
                            th Nombre
                            th Precio
                            th Thumbnail
                        each producto in arrayProduct
                            tr
                                td= producto.title
                                td= producto.price
                                td
                                    img(src=producto.thumbnail alt='Imagen del producto' style="width: 4rem;")
            else
                h3.alert.alert-danger= hola
    footer
        a(href='/') A&ntilde;adir producto   
        
         